<h2>編集画面</h2>
<form method="post" action="/edit" class="new-form">
  <p>タイトル</p>
  <input type="text" name="name" class="new-input">
  <p>内容</p>
  <input type="text" name="contents" class="new-input">
  <input type="submit" value="保存" class="new-submit">
</form>