<h2>TOP画面</h2>
  <a href='/memos/new' class="new-submit">メモを追加する</a>
<ul>
  <% @memos.each do |memo| %>
  <li><a href="/memos/<%= memo['id'] %>"><%= CGI.escapeHTML(memo['title']) %></a></li>
  <% end %>
</ul>
