<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>MEMOアプリ</title>
    <link rel="stylesheet" href="/css/test.css"/>
  </head>
  <body>
    <header>
      <h1>メモアプリ</h1>
    </header>
    <main>
      <%= yield %>
    </main>
    <footer>
      <a href="/">ページトップへ戻る</a>
    </footer>
  </body>
</html>