<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/test.css"/>
    <title>MEMOアプリ</title>
  </head>

  <body>
  <h1>メモアプリ</h1>
    <%= yield %>
  <div><a href="/">ページトップへ戻る</a></div>
  </body>
</html>