<h2>新規作成</h2>
<form method="post" action="/new">
  <p>題名</p>
  <input type="text" name="name">
  <p>内容</p>
  <input type="text" name="contents">
</form>

<button onclick="location.href='/'">保存</button>