<h2>新規作成</h2>
<form action="/memos" method="post" class="new-form">
  <p>タイトル</p>
  <input type="text" name="title" class="new-input">
  <p>内容</p>
  <textarea name="content" rows="10" class="new-textarea"></textarea>
  <button type="submit" class="new-submit">保存</button>
</form>
