<div class="show-wrapper">
  <div class="show-header">
    <h2><%= CGI.escapeHTML(@memo['title']) %></h2>
  </div>
  <div class="show-content">
    <p><%= CGI.escapeHTML(@memo['content']) %></p>
  </div>
  <div class="show-footer">
    <form action="/memos/<%= params[:id] %>/edit" method="get" class="new-form">
      <button type="submit" class="new-submit">編集</button>
    </form>

    <form action="/memos/<%= params[:id] %>" method="post" class="new-form">
      <input type="hidden" name="_method" value="delete">
      <button type="submit" class="new-submit">削除</button>
    </form>
  </div>
</div>
