<div class="show-wrapper">
  <div class="show-header">
    <h2><%= CGI.escapeHTML(@title) %></h2>
  </div>
  <div class="show-content">
    <p><%= CGI.escapeHTML(@content) %></p>
  </div>
  <div class="show-footer">
    <form action="/edit/<%= @id %>" method="get" class="new-form">
      <button type="submit" class="new-submit">編集</button>
    </form>

    <form action="/<%= @id %>" method="post" class="new-form">
      <input type="hidden" name="_method" value="delete">
      <button type="submit" class="new-submit">削除</button>
    </form>
  </div>
</div>
